<launch>
  <param name="use_sim_time" value="true"/>

  <!-- ColorSampler -->
  <node pkg="landmark_mapper" type="color_sampler_node" name="cs_node" output="screen">
    <param name="use_sim_time" value="true"/>
    <param name="output_path" value="$(find landmark_mapper)/data/landmarks_raw.yaml"/>
  </node>

  <!-- LandmarkMapper -->
  <node pkg="landmark_mapper" type="landmark_mapper" name="lm_node" output="screen">
    <param name="use_sim_time" value="true"/>
    <param name="output_path" value="$(find landmark_mapper)/data/mapped_landmarks.yaml"/>
  </node>

  <!-- Debug -->
  <node pkg="rqt_image_view" type="rqt_image_view" name="image_debug" output="screen"
        args="/camera/image"/>
</launch>
