<launch>
  <!-- Simulationszeit für alle -->
  <param name="use_sim_time" value="true"/>

  <!-- Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find example_package)/world/playground.world"/>
    <arg name="gui"        value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="paused"     value="false"/>
  </include>

  <!-- Roboter -->
  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_burger_for_autorace.urdf.xacro"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
        args="-urdf -model turtlebot3_burger -x 0 -y 0 -z 0 -Y 0 -param robot_description"/>

  <!-- Bringup (Sensor-Driver etc.) -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find example_package)/config/config.rviz"/>

  <!-- Navigation (map_server wird nur hier gestartet) -->
  <include file="$(find example_package)/launch/navigation.launch"/>

  <!-- Waypoint-Navigation in eigenem Terminal, startet nach Enter -->
<!-- in start.launch -->
<node pkg="example_package" type="waypoint_nav" name="waypoint_nav" output="screen">
  <!-- Delay in seconds; wenn auf 0, wartet auf ENTER -->
  <param name="start_delay" value="15.0"/>
  <param name="waypoints_file"
         value="$(find example_package)/config/waypoints.yaml"/>
</node>


</launch>
