<launch>

  <!-- Simulationszeit aktivieren -->
  <param name="use_sim_time" value="true"/>

  <!-- Fester statischer TF zwischen map und odom -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom"
        args="0 0 0 0 0 0 map odom"/>

  <!-- Map Server -->
  <node pkg="map_server" type="map_server" name="map_server"
        args="$(find filter_node)/maps/my_map.yaml" output="screen"/>

  <!-- Kalman-Filter -->
  <node pkg="filter_node" type="kf_node" name="kf_node" output="screen">
    <param name="use_sim_time" value="true"/>
    <remap from="odom" to="/odom"/>
  </node>

  <!-- Extended Kalman-Filter -->
  <node pkg="filter_node" type="ekf_node" name="ekf_node" output="screen">
    <param name="use_sim_time" value="true"/>
    <remap from="odom" to="/odom"/>
  </node>

  <!-- Partikel-Filter -->
  <node pkg="filter_node" type="pf_node" name="pf_node" output="screen">
    <param name="use_sim_time" value="true"/>
    <remap from="odom" to="/odom"/>
  </node>

</launch>
